**/*.swp
cover.out
*~
!*/
site/
**/*.test
**/*.sublime-workspace
/.idea/
/Minio.iml
**/access.log
release
.DS_Store
*.syso
coverage.txt
.vscode/
*.tar.bz2
parts/
prime/
stage/
.sia_temp/
config.json
.project

# Generated code

# Binaries

#libraries
lib

#Executables
bin

*.pyc
