**/*.swp
cover.out
*~
minio
s3kinetic.X86.NONSMR
s3kinetic.X86.SMR
!*/
site/
**/*.test
**/*.sublime-workspace
/.idea/
/Minio.iml
**/access.log
vendor/**/*.js
vendor/**/*.json
release
.DS_Store
*.syso
coverage.txt
.vscode/
*.tar.bz2
parts/
prime/
stage/
.sia_temp/
config.json

# Generated code

kineticd/src/common/*.pb.*
kineticd/src/*.pb.*
kineticd/src/version_info.h

# Binaries
*.o
*.lo
*.so
*.so.*
libx86/*.a
libarm/*.a
kineticd/*.a
kineticd/.libs/
kineticd/.deps/
kineticd/qual/qual_local
kineticd/vendor
kineticd/kinetic_test
kineticd/print_device_information
kineticd/drive_filler_upper
kineticd/zac_ha_exercise_drive
kineticd/bond_manager
kineticd/installer/tmp
kineticd/build_arm
kineticd/build_x86
kineticd/build
kineticd/manifest_stress
kineticd/x86_package_install

# CMake artifacts

kineticd/CMakeCache.txt
kineticd/CMakeFiles/
kineticd/cmake_install.cmake
kineticd/CMakeScripts
kineticd/Makefile
kineticd/leveldb-prefix
kineticd/k_api-prefix
kineticd/kinetic_cpp_client-prefix
kineticd/ha_cmd-prefix
kineticd/ha_zac_cmds/zac_local
kineticd/lldp-prefix
kineticd/lldp/lldp_local
kineticd/kmem-prefix
kineticd/qual-prefix

cmd/kernel_mem_mgr.a
cmd/libapi.a
cmd/libcrypto.a
cmd/libgflags.a
cmd/libgflags_nothreads.a
cmd/libglog.a
cmd/libgmock.a
cmd/libgtest.a
cmd/libkinetic.a
cmd/libkinetic_client.a
cmd/libksapi.a
cmd/libleveldb.a
cmd/libmemenv.a
cmd/libpbkdf.a
cmd/libprotobuf-lite.a
cmd/libprotobuf.a
cmd/libprotoc.a
cmd/libseapubcmds.a
cmd/libsmrenv.a
cmd/libssl.a
cmd/libtransports.a
cmd/lldp_kin.a
cmd/qual_kin.a
cmd/zac_kin.a
kernel_mem_mgr.a
kineticd/CMakeFiles/3.10.2/
libapi.a
libcrypto.a
libgflags.a
libgflags_nothreads.a
libglog.a
libgmock.a
libgtest.a
libkinetic.a
libkinetic_client.a
libksapi.a
libleveldb.a
libmemenv.a
libpbkdf.a
libprotobuf-lite.a
libprotobuf.a
libprotoc.a
libseapubcmds.a
libsmrenv.a
libssl.a
libtransports.a
lldp_kin.a
qual_kin.a
zac_kin.a

